/* Footer */

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: $magic-number;
    align-items: center;
}

.footer a {
    color: $font-color;
}

.social a {
    font-size: 3rem;
    color: $font-color;
    text-decoration: none;
}
