.gallery-landing {
    display: grid;
    gap: 1em 1em;
    margin: 1.6rem;
    justify-content: center;
}


.gallery-box {
    position: relative;
    border: 0.5em solid $background-color-main-2;
    overflow: hidden;

    img {
        width: 100%;
    }
}

.gallery-box:hover {
    box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.2);

}

.row1 {
    grid-column: span 1;
    grid-row: 1/2;

    img {
        height: 100%;
    }
}

.row2 {
    grid-column: span 1;
    grid-row: 2/3;
    
    h2 {
        background-color: rgba(255, 57, 57, 0.7);
    }

    img {
        height: 100%;
    }
}


@media (max-width: 767px) {
    .gallery-landing {
        display: grid;
        gap: 1em 1em;
        width: auto;
    }

    .pic1 {
        grid-row: 1/2;
    }

    .pic2 {
        grid-row: 2/3;
    }    
    
    .pic3 {
        grid-row: 3/4;
    }

    .pic4 {
        grid-row: 4/5;
    }    

    .pic5 {
        grid-row: 5/6;
    }

    .pic6 {
        grid-row: 6/7;
    }    
}
