@import '../../node_modules/normalize.css/normalize';
@import 'variables-dark';

@import 'typography';
@import 'placement';
@import 'blockquotes';
@import 'code';
@import 'header';
@import 'title';
@import 'footer';
@import 'mobile-menu';
@import 'figure';
@import 'size';
@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';
@import 'technologies';
@import 'technology';
@import 'analysis';
@import 'responsivitet';
@import 'gallery';

* {
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
}

ol,
ul {
    padding-left: 1.5em;
}

.hidden {
    display: none !important;
}

html,
body {
    height: 100%;
}

body {
    background-color: $background-color-main-4;
    background-image: url('../../../image/dark_sky.jpg?q=40');
    max-width: 67rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin: auto;
}

.main {
    background-color: $background-color-main;
    box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.2);
}

.header {
    background-color: $background-color-main-1;
}

.footer {
    background-color: $background-color-main-1;
}

.logo {
    filter: brightness(50%);
}

.figure {
    filter: brightness(50%);
}

.tech-box {
    filter: drop-shadow(16px 16px 10px rgb(0, 0, 0));
}
