@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&family=Source+Serif+Pro&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');


html {
    font-size: 100%;
}

body {
    line-height: $base-line-hight;
    background-color: $background-color;
}

h1 {
    font-size: 3em;
    margin-bottom: $magic-number * 1.2;
    font-family: 'Source Sans Pro', sans-serif;
}

p {
    font-size: $base-font-size;
    margin-bottom: $magic-number;
    font-family: 'Source Serif Pro', serif;
}

.main {
    max-width: 67rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin: auto;
}

@media (min-width: 64em) {
    html {
        font-size: 112.5%;
    }
}
