$font-color: rgb(19, 19, 19);
$font-dark-color: rgb(245, 244, 244);
$accent-color: #ee6c4d;
$background-color-main: #e7caa4;
$background-color-main-1: #9c815fdd;
$background-color-main-2: #ffeacf;
$background-color-main-3: #949e8a62;
$background-color-main-4: #a5d1e8cc;
$color-contrast: rgb(251, 251, 251);

$base-line-hight: 1.4;
$base-font-size: 1.1rem;
$magic-number: $base-line-hight * $base-font-size;
