$font-color: rgb(221, 221, 221);
$accent-color: #ee6c4d;
$background-color-main: #013133;
$background-color-main-1: #021d40;
$background-color-main-2: #330804;
$background-color-main-3: #80580f;
$background-color-main-4: #332204;
$color-contrast: rgb(23, 23, 23);

$base-line-hight: 1.4;
$base-font-size: 1.1rem;
$magic-number: $base-line-hight * $base-font-size;
